    /*
    Flaticon icon font: Flaticon
    Creation date: 27/06/2018 10:11
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-lipstick-1:before { content: "\f100"; }
.flaticon-002-lip-gloss-2:before { content: "\f101"; }
.flaticon-003-eyeliner-2:before { content: "\f102"; }
.flaticon-004-wax:before { content: "\f103"; }
.flaticon-005-spray:before { content: "\f104"; }
.flaticon-006-spa:before { content: "\f105"; }
.flaticon-007-candle-2:before { content: "\f106"; }
.flaticon-008-candle-1:before { content: "\f107"; }
.flaticon-009-candle:before { content: "\f108"; }
.flaticon-010-lotion-5:before { content: "\f109"; }
.flaticon-011-gel:before { content: "\f10a"; }
.flaticon-012-serum:before { content: "\f10b"; }
.flaticon-013-scissors:before { content: "\f10c"; }
.flaticon-014-barber-sign:before { content: "\f10d"; }
.flaticon-015-hair-roller-1:before { content: "\f10e"; }
.flaticon-016-razor:before { content: "\f10f"; }
.flaticon-017-barber:before { content: "\f110"; }
.flaticon-018-blade:before { content: "\f111"; }
.flaticon-019-rasp:before { content: "\f112"; }
.flaticon-020-primer:before { content: "\f113"; }
.flaticon-021-pressed-powder-1:before { content: "\f114"; }
.flaticon-022-pressed-powder:before { content: "\f115"; }
.flaticon-023-powder-1:before { content: "\f116"; }
.flaticon-024-perfume-2:before { content: "\f117"; }
.flaticon-025-perfume-1:before { content: "\f118"; }
.flaticon-026-perfume:before { content: "\f119"; }
.flaticon-027-spray-bottle:before { content: "\f11a"; }
.flaticon-028-perfume-bottle:before { content: "\f11b"; }
.flaticon-029-beauty:before { content: "\f11c"; }
.flaticon-030-nail-polish-2:before { content: "\f11d"; }
.flaticon-031-nail-polish-1:before { content: "\f11e"; }
.flaticon-032-nail-polish:before { content: "\f11f"; }
.flaticon-033-nail-file:before { content: "\f120"; }
.flaticon-034-moustache-1:before { content: "\f121"; }
.flaticon-035-mortar:before { content: "\f122"; }
.flaticon-036-hand-mirror:before { content: "\f123"; }
.flaticon-037-mirror:before { content: "\f124"; }
.flaticon-038-water:before { content: "\f125"; }
.flaticon-039-mascara-1:before { content: "\f126"; }
.flaticon-040-moustache:before { content: "\f127"; }
.flaticon-041-beard:before { content: "\f128"; }
.flaticon-042-lotus:before { content: "\f129"; }
.flaticon-043-cream-5:before { content: "\f12a"; }
.flaticon-044-lotion-4:before { content: "\f12b"; }
.flaticon-045-cream-4:before { content: "\f12c"; }
.flaticon-046-cream-3:before { content: "\f12d"; }
.flaticon-047-lotion-3:before { content: "\f12e"; }
.flaticon-048-cream-2:before { content: "\f12f"; }
.flaticon-049-lotion-2:before { content: "\f130"; }
.flaticon-050-lotion-1:before { content: "\f131"; }
.flaticon-051-lotion:before { content: "\f132"; }
.flaticon-052-powder:before { content: "\f133"; }
.flaticon-053-lipstick:before { content: "\f134"; }
.flaticon-054-lips:before { content: "\f135"; }
.flaticon-055-lip-gloss-1:before { content: "\f136"; }
.flaticon-056-lip-gloss:before { content: "\f137"; }
.flaticon-057-hot-stone:before { content: "\f138"; }
.flaticon-058-bag:before { content: "\f139"; }
.flaticon-059-hair-washing:before { content: "\f13a"; }
.flaticon-060-towel:before { content: "\f13b"; }
.flaticon-061-hair-dryer-2:before { content: "\f13c"; }
.flaticon-062-hair-dryer-1:before { content: "\f13d"; }
.flaticon-063-hair-roller:before { content: "\f13e"; }
.flaticon-064-hair-cream-1:before { content: "\f13f"; }
.flaticon-065-hair-cream:before { content: "\f140"; }
.flaticon-066-hair-iron:before { content: "\f141"; }
.flaticon-067-hair-dye-brush-1:before { content: "\f142"; }
.flaticon-068-hair-dye-brush:before { content: "\f143"; }
.flaticon-069-hair-dye:before { content: "\f144"; }
.flaticon-070-hair-dryer:before { content: "\f145"; }
.flaticon-071-hair-clipper:before { content: "\f146"; }
.flaticon-072-shaving-brush:before { content: "\f147"; }
.flaticon-073-hair-brush-1:before { content: "\f148"; }
.flaticon-074-hair-brush:before { content: "\f149"; }
.flaticon-075-foundation:before { content: "\f14a"; }
.flaticon-076-face-treatment:before { content: "\f14b"; }
.flaticon-077-face-mask:before { content: "\f14c"; }
.flaticon-078-mask:before { content: "\f14d"; }
.flaticon-079-brush-3:before { content: "\f14e"; }
.flaticon-080-eyelash:before { content: "\f14f"; }
.flaticon-081-eye-shadow-2:before { content: "\f150"; }
.flaticon-082-eye-shadow-1:before { content: "\f151"; }
.flaticon-083-eye-shadow:before { content: "\f152"; }
.flaticon-084-mascara:before { content: "\f153"; }
.flaticon-085-eyeliner-1:before { content: "\f154"; }
.flaticon-086-eyeliner:before { content: "\f155"; }
.flaticon-087-electric-razor:before { content: "\f156"; }
.flaticon-088-cream-1:before { content: "\f157"; }
.flaticon-089-cotton-swab:before { content: "\f158"; }
.flaticon-090-comb-2:before { content: "\f159"; }
.flaticon-091-comb-1:before { content: "\f15a"; }
.flaticon-092-comb:before { content: "\f15b"; }
.flaticon-093-brush-2:before { content: "\f15c"; }
.flaticon-094-brush-1:before { content: "\f15d"; }
.flaticon-095-brush:before { content: "\f15e"; }
.flaticon-096-angle-brush-1:before { content: "\f15f"; }
.flaticon-097-angle-brush:before { content: "\f160"; }
.flaticon-098-barber-chair-1:before { content: "\f161"; }
.flaticon-099-barber-chair:before { content: "\f162"; }
.flaticon-100-cream:before { content: "\f163"; }
    
    $font-Flaticon-001-lipstick-1: "\f100";
    $font-Flaticon-002-lip-gloss-2: "\f101";
    $font-Flaticon-003-eyeliner-2: "\f102";
    $font-Flaticon-004-wax: "\f103";
    $font-Flaticon-005-spray: "\f104";
    $font-Flaticon-006-spa: "\f105";
    $font-Flaticon-007-candle-2: "\f106";
    $font-Flaticon-008-candle-1: "\f107";
    $font-Flaticon-009-candle: "\f108";
    $font-Flaticon-010-lotion-5: "\f109";
    $font-Flaticon-011-gel: "\f10a";
    $font-Flaticon-012-serum: "\f10b";
    $font-Flaticon-013-scissors: "\f10c";
    $font-Flaticon-014-barber-sign: "\f10d";
    $font-Flaticon-015-hair-roller-1: "\f10e";
    $font-Flaticon-016-razor: "\f10f";
    $font-Flaticon-017-barber: "\f110";
    $font-Flaticon-018-blade: "\f111";
    $font-Flaticon-019-rasp: "\f112";
    $font-Flaticon-020-primer: "\f113";
    $font-Flaticon-021-pressed-powder-1: "\f114";
    $font-Flaticon-022-pressed-powder: "\f115";
    $font-Flaticon-023-powder-1: "\f116";
    $font-Flaticon-024-perfume-2: "\f117";
    $font-Flaticon-025-perfume-1: "\f118";
    $font-Flaticon-026-perfume: "\f119";
    $font-Flaticon-027-spray-bottle: "\f11a";
    $font-Flaticon-028-perfume-bottle: "\f11b";
    $font-Flaticon-029-beauty: "\f11c";
    $font-Flaticon-030-nail-polish-2: "\f11d";
    $font-Flaticon-031-nail-polish-1: "\f11e";
    $font-Flaticon-032-nail-polish: "\f11f";
    $font-Flaticon-033-nail-file: "\f120";
    $font-Flaticon-034-moustache-1: "\f121";
    $font-Flaticon-035-mortar: "\f122";
    $font-Flaticon-036-hand-mirror: "\f123";
    $font-Flaticon-037-mirror: "\f124";
    $font-Flaticon-038-water: "\f125";
    $font-Flaticon-039-mascara-1: "\f126";
    $font-Flaticon-040-moustache: "\f127";
    $font-Flaticon-041-beard: "\f128";
    $font-Flaticon-042-lotus: "\f129";
    $font-Flaticon-043-cream-5: "\f12a";
    $font-Flaticon-044-lotion-4: "\f12b";
    $font-Flaticon-045-cream-4: "\f12c";
    $font-Flaticon-046-cream-3: "\f12d";
    $font-Flaticon-047-lotion-3: "\f12e";
    $font-Flaticon-048-cream-2: "\f12f";
    $font-Flaticon-049-lotion-2: "\f130";
    $font-Flaticon-050-lotion-1: "\f131";
    $font-Flaticon-051-lotion: "\f132";
    $font-Flaticon-052-powder: "\f133";
    $font-Flaticon-053-lipstick: "\f134";
    $font-Flaticon-054-lips: "\f135";
    $font-Flaticon-055-lip-gloss-1: "\f136";
    $font-Flaticon-056-lip-gloss: "\f137";
    $font-Flaticon-057-hot-stone: "\f138";
    $font-Flaticon-058-bag: "\f139";
    $font-Flaticon-059-hair-washing: "\f13a";
    $font-Flaticon-060-towel: "\f13b";
    $font-Flaticon-061-hair-dryer-2: "\f13c";
    $font-Flaticon-062-hair-dryer-1: "\f13d";
    $font-Flaticon-063-hair-roller: "\f13e";
    $font-Flaticon-064-hair-cream-1: "\f13f";
    $font-Flaticon-065-hair-cream: "\f140";
    $font-Flaticon-066-hair-iron: "\f141";
    $font-Flaticon-067-hair-dye-brush-1: "\f142";
    $font-Flaticon-068-hair-dye-brush: "\f143";
    $font-Flaticon-069-hair-dye: "\f144";
    $font-Flaticon-070-hair-dryer: "\f145";
    $font-Flaticon-071-hair-clipper: "\f146";
    $font-Flaticon-072-shaving-brush: "\f147";
    $font-Flaticon-073-hair-brush-1: "\f148";
    $font-Flaticon-074-hair-brush: "\f149";
    $font-Flaticon-075-foundation: "\f14a";
    $font-Flaticon-076-face-treatment: "\f14b";
    $font-Flaticon-077-face-mask: "\f14c";
    $font-Flaticon-078-mask: "\f14d";
    $font-Flaticon-079-brush-3: "\f14e";
    $font-Flaticon-080-eyelash: "\f14f";
    $font-Flaticon-081-eye-shadow-2: "\f150";
    $font-Flaticon-082-eye-shadow-1: "\f151";
    $font-Flaticon-083-eye-shadow: "\f152";
    $font-Flaticon-084-mascara: "\f153";
    $font-Flaticon-085-eyeliner-1: "\f154";
    $font-Flaticon-086-eyeliner: "\f155";
    $font-Flaticon-087-electric-razor: "\f156";
    $font-Flaticon-088-cream-1: "\f157";
    $font-Flaticon-089-cotton-swab: "\f158";
    $font-Flaticon-090-comb-2: "\f159";
    $font-Flaticon-091-comb-1: "\f15a";
    $font-Flaticon-092-comb: "\f15b";
    $font-Flaticon-093-brush-2: "\f15c";
    $font-Flaticon-094-brush-1: "\f15d";
    $font-Flaticon-095-brush: "\f15e";
    $font-Flaticon-096-angle-brush-1: "\f15f";
    $font-Flaticon-097-angle-brush: "\f160";
    $font-Flaticon-098-barber-chair-1: "\f161";
    $font-Flaticon-099-barber-chair: "\f162";
    $font-Flaticon-100-cream: "\f163";