	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/06/2018 10:11
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-lipstick-1:before { content: "\f100"; }
.flaticon-002-lip-gloss-2:before { content: "\f101"; }
.flaticon-003-eyeliner-2:before { content: "\f102"; }
.flaticon-004-wax:before { content: "\f103"; }
.flaticon-005-spray:before { content: "\f104"; }
.flaticon-006-spa:before { content: "\f105"; }
.flaticon-007-candle-2:before { content: "\f106"; }
.flaticon-008-candle-1:before { content: "\f107"; }
.flaticon-009-candle:before { content: "\f108"; }
.flaticon-010-lotion-5:before { content: "\f109"; }
.flaticon-011-gel:before { content: "\f10a"; }
.flaticon-012-serum:before { content: "\f10b"; }
.flaticon-013-scissors:before { content: "\f10c"; }
.flaticon-014-barber-sign:before { content: "\f10d"; }
.flaticon-015-hair-roller-1:before { content: "\f10e"; }
.flaticon-016-razor:before { content: "\f10f"; }
.flaticon-017-barber:before { content: "\f110"; }
.flaticon-018-blade:before { content: "\f111"; }
.flaticon-019-rasp:before { content: "\f112"; }
.flaticon-020-primer:before { content: "\f113"; }
.flaticon-021-pressed-powder-1:before { content: "\f114"; }
.flaticon-022-pressed-powder:before { content: "\f115"; }
.flaticon-023-powder-1:before { content: "\f116"; }
.flaticon-024-perfume-2:before { content: "\f117"; }
.flaticon-025-perfume-1:before { content: "\f118"; }
.flaticon-026-perfume:before { content: "\f119"; }
.flaticon-027-spray-bottle:before { content: "\f11a"; }
.flaticon-028-perfume-bottle:before { content: "\f11b"; }
.flaticon-029-beauty:before { content: "\f11c"; }
.flaticon-030-nail-polish-2:before { content: "\f11d"; }
.flaticon-031-nail-polish-1:before { content: "\f11e"; }
.flaticon-032-nail-polish:before { content: "\f11f"; }
.flaticon-033-nail-file:before { content: "\f120"; }
.flaticon-034-moustache-1:before { content: "\f121"; }
.flaticon-035-mortar:before { content: "\f122"; }
.flaticon-036-hand-mirror:before { content: "\f123"; }
.flaticon-037-mirror:before { content: "\f124"; }
.flaticon-038-water:before { content: "\f125"; }
.flaticon-039-mascara-1:before { content: "\f126"; }
.flaticon-040-moustache:before { content: "\f127"; }
.flaticon-041-beard:before { content: "\f128"; }
.flaticon-042-lotus:before { content: "\f129"; }
.flaticon-043-cream-5:before { content: "\f12a"; }
.flaticon-044-lotion-4:before { content: "\f12b"; }
.flaticon-045-cream-4:before { content: "\f12c"; }
.flaticon-046-cream-3:before { content: "\f12d"; }
.flaticon-047-lotion-3:before { content: "\f12e"; }
.flaticon-048-cream-2:before { content: "\f12f"; }
.flaticon-049-lotion-2:before { content: "\f130"; }
.flaticon-050-lotion-1:before { content: "\f131"; }
.flaticon-051-lotion:before { content: "\f132"; }
.flaticon-052-powder:before { content: "\f133"; }
.flaticon-053-lipstick:before { content: "\f134"; }
.flaticon-054-lips:before { content: "\f135"; }
.flaticon-055-lip-gloss-1:before { content: "\f136"; }
.flaticon-056-lip-gloss:before { content: "\f137"; }
.flaticon-057-hot-stone:before { content: "\f138"; }
.flaticon-058-bag:before { content: "\f139"; }
.flaticon-059-hair-washing:before { content: "\f13a"; }
.flaticon-060-towel:before { content: "\f13b"; }
.flaticon-061-hair-dryer-2:before { content: "\f13c"; }
.flaticon-062-hair-dryer-1:before { content: "\f13d"; }
.flaticon-063-hair-roller:before { content: "\f13e"; }
.flaticon-064-hair-cream-1:before { content: "\f13f"; }
.flaticon-065-hair-cream:before { content: "\f140"; }
.flaticon-066-hair-iron:before { content: "\f141"; }
.flaticon-067-hair-dye-brush-1:before { content: "\f142"; }
.flaticon-068-hair-dye-brush:before { content: "\f143"; }
.flaticon-069-hair-dye:before { content: "\f144"; }
.flaticon-070-hair-dryer:before { content: "\f145"; }
.flaticon-071-hair-clipper:before { content: "\f146"; }
.flaticon-072-shaving-brush:before { content: "\f147"; }
.flaticon-073-hair-brush-1:before { content: "\f148"; }
.flaticon-074-hair-brush:before { content: "\f149"; }
.flaticon-075-foundation:before { content: "\f14a"; }
.flaticon-076-face-treatment:before { content: "\f14b"; }
.flaticon-077-face-mask:before { content: "\f14c"; }
.flaticon-078-mask:before { content: "\f14d"; }
.flaticon-079-brush-3:before { content: "\f14e"; }
.flaticon-080-eyelash:before { content: "\f14f"; }
.flaticon-081-eye-shadow-2:before { content: "\f150"; }
.flaticon-082-eye-shadow-1:before { content: "\f151"; }
.flaticon-083-eye-shadow:before { content: "\f152"; }
.flaticon-084-mascara:before { content: "\f153"; }
.flaticon-085-eyeliner-1:before { content: "\f154"; }
.flaticon-086-eyeliner:before { content: "\f155"; }
.flaticon-087-electric-razor:before { content: "\f156"; }
.flaticon-088-cream-1:before { content: "\f157"; }
.flaticon-089-cotton-swab:before { content: "\f158"; }
.flaticon-090-comb-2:before { content: "\f159"; }
.flaticon-091-comb-1:before { content: "\f15a"; }
.flaticon-092-comb:before { content: "\f15b"; }
.flaticon-093-brush-2:before { content: "\f15c"; }
.flaticon-094-brush-1:before { content: "\f15d"; }
.flaticon-095-brush:before { content: "\f15e"; }
.flaticon-096-angle-brush-1:before { content: "\f15f"; }
.flaticon-097-angle-brush:before { content: "\f160"; }
.flaticon-098-barber-chair-1:before { content: "\f161"; }
.flaticon-099-barber-chair:before { content: "\f162"; }
.flaticon-100-cream:before { content: "\f163"; }